export(
"Fletcher2013pipeline.limma",
"Fletcher2013pipeline.deg",
"Fletcher2013pipeline.pca",
"Fletcher2013pipeline.supp"
)
import(limma)
importFrom(gplots, plotCI, barplot2)
importFrom(VennDiagram,venn.diagram)
importFrom(Biobase,notes,fData,pData,exprs)
importFrom(grid,grid.draw)
importFrom(grDevices, dev.off, palette, pdf)
importFrom(graphics, axis, barplot, layout, legend, lines, mtext, par, plot, points, text)
importFrom(stats, dist, median, model.matrix, na.omit, prcomp, sd)
importFrom(utils, data)